html {
  min-height: 100%;
  background-color: #0a0908; }

.absolute-pos {
  position: absolute; }

.dropmenu-content {
  display: none;
  padding: .5em; }
  .dropmenu-content div {
    padding: .2em .5em;
    border-radius: 4px;
    margin: .2em .2em; }

code {
  background: #222222;
  color: #ffaa0e;
  font-weight: bold;
  font-family: 'Courier New', monospace; }

.dropSelect {
  top: 0;
  background: #222222;
  color: lightgoldenrodyellow;
  border: 2px solid #886611;
  float: left; }

.dropmenu:hover .dropmenu-content {
  display: block; }

.hiddenColumn {
  color: red; }

.dropButton {
  display: block;
  text-align: center;
  margin: auto; }

.queryFileBox {
  display: inherit;
  width: 99%;
  margin-bottom: 0.3em; }

.queryMenuDiv {
  z-index: 10;
  min-width: 12em;
  padding: .2em .2em;
  background: #090908;
  background: linear-gradient(to bottom, #090908 1%, #200c0a 22%, #200c0a 22%, #4d0908 100%); }

.commandtitle {
  margin: auto; }

.queryMenuButton {
  width: 15em;
  border-radius: 4px;
  color: #eeeeee;
  background: #666666;
  background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%); }

.queryTextEntry {
  background: #222222;
  color: lightgoldenrodyellow;
  border: 2px solid #886611;
  width: calc(98vw); }

.queryTextContainer {
  padding: 0.2em; }

.queryRunButton {
  color: #eeeeee;
  background: #666666;
  background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%);
  border: 1px solid black;
  font-weight: bold;
  padding: 0.2em 1em;
  font-size: medium; }

.queryRunButton:hover {
  color: #eeeeee;
  background: #00136a;
  background: linear-gradient(to bottom, #00136a 0%, #08606c 50%, #0832f6 51%, #062f3d 100%); }

.viewContainer {
  display: inline-block;
  margin: auto;
  max-width: calc(100%); }

.tableModDiv {
  z-index: 10;
  display: inline-block;
  padding: .2em .2em; }

.tableModDrop {
  background: #090908;
  background: linear-gradient(to bottom, #090908 1%, #200c0a 22%, #200c0a 22%, #4d0908 100%); }

.tableModButton {
  padding: .2em .5em;
  color: #eeeeee;
  background: #666666;
  background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%);
  border-radius: 4px; }

.tableBody td {
  background-color: #3A3A3A;
  color: lightgoldenrodyellow; }

.tableRow td, .nameCell, .typeCell {
  text-align: center;
  white-space: nowrap;
  min-width: 4em; }

.typeCell {
  color: #333; }

.tableDiv {
  background: #0f0f0f;
  position: static;
  top: 3em;
  max-height: calc(80vh - 100px);
  margin: auto;
  border: 1px solid black; }

.tableBodyDiv {
  overflow: auto; }

.tableHeadDiv {
  overflow: hidden;
  border-bottom: none;
  color: #ffff99;
  background: #444444;
  background: linear-gradient(to bottom, #444444 0%, #303030 50%, #202020 51%, #444444 100%); }

.tableQuery {
  margin: auto;
  display: table;
  border-radius: 0.4em;
  padding: 0.3em 0em 0em 0em; }

.querySelect {
  margin-top: 2.3em;
  text-align: center; }

.queryMenuContainer {
  text-align: center;
  margin-bottom: 1em; }

.tableModifiers {
  border-radius: 1em 1em .3em .3em;
  color: lightgoldenrodyellow;
  background: #342008;
  background: linear-gradient(to bottom, #342008 1%, #100c0a 22%, #200c0a 22%, #090908 100%);
  text-align: center; }

.topBar {
  background: #090908;
  min-height: 2em;
  padding: 0.2em;
  display: flex;
  justify-content: left;
  position: fixed;
  width: 100%;
  top: 0; }

.topMessage {
  color: #ffff99;
  padding: 0.3em 1em 0em; }

.topButton {
  border: 1px solid black;
  color: #eeeeee;
  background: #666666;
  background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%); }

.topButton:hover {
  color: #eeeeee;
  background: #00136a;
  background: linear-gradient(to bottom, #00136a 0%, #08606c 50%, #0832f6 51%, #062f3d 100%); }

.popButton {
  padding: 0.5em; }

.fileSelectShow {
  padding: 0.3em;
  background: #090908;
  background: linear-gradient(to bottom, #090908 1%, #200c0a 22%, #200c0a 22%, #4d0908 100%);
  color: lightgoldenrodyellow;
  top: 2.2em;
  position: absolute;
  border: 1px solid black; }

.fileSelectShow label {
  display: inline-block; }

.fileSelectShow input[type="text"] {
  min-width: 40em;
  margin: 0.5em 0em 0.5em 0.5em; }

.saveRadio {
  margin: 0.6em; }

.saveButton {
  float: right; }

.passPopup {
  color: red;
  text-align: center; }

.fileBrowser {
  min-width: 40em;
  max-height: 33em; }

.browseDirs {
  height: 80%;
  background: #0f0f0f;
  border: 1px solid black;
  overflow: auto; }

.browseDir {
  display: block;
  width: 100%;
  color: lightblue; }

.browseFile {
  display: block;
  width: 100%;
  color: lightGreen; }

.browseCurrent {
  background: #0f0f0f;
  color: #ffffe6;
  width: -webkit-fill-available;
  width: -moz-available; }

.browseEntry:hover {
  background-color: #4d0908; }

.historyArrows {
  right: 0;
  position: inherit;
  color: #ffff99; }

.arrow {
  font-size: x-large; }

.show {
  display: block; }

.dim {
  color: grey; }

.noselect {
  user-select: none; }

.helpBox {
  display: block;
  position: fixed;
  width: 90%;
  left: 5%;
  height: 90%;
  border: 1px solid black;
  color: #ffff99;
  background-color: #2c2c2c;
  margin: auto;
  border-radius: 1em;
  padding: 1em;
  overflow-y: scroll; }
  .helpBox button {
    border: 1px solid black;
    padding: 0.3em 1em;
    color: #eeeeee;
    background: #666666;
    background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%); }
  .helpBox button:hover {
    padding: 0.3em 1em;
    color: #eeeeee;
    background: #00136a;
    background: linear-gradient(to bottom, #00136a 0%, #08606c 50%, #0832f6 51%, #062f3d 100%); }
  .helpBox a {
    color: orangered; }

#scrollBuffer {
  color: #0f0f0f;
  background: #0f0f0f; }

.helpTable {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0.2em; }
