//top bar back gradient
$ttop: #090908;
$ttp: #200c0a;
$bbt: #200c0a;
$bbot: #4d0908;
//top bar buttons
$top-top: #FFD700;
$top-bot: #FFFF70;
$button1: #EEEEEE;
$headcell: #FAFAFA;
$bodycell: #FAFAFA;

$ojgradient1: #feccb1;
$ojgradient2: #f17432;
$ojgradient3: #ea5507;
$ojgradient4: #fb955e;

$tablebg: #0f0f0f;
$dropdownbg: brown;

$loginTopBut: #a6e8a3;
$topbarbg: $ttop;
$loginbg: #fdffe5;
$historyArrows: #ffff99;

@mixin sgradient($top,$tp,$bt,$bot) {
	background: $top;
	background: linear-gradient(to bottom, $top 1%,$tp 22%,$bt 22%,$bot 100%);
}
@mixin gradient($top,$bot) {
	background-color:$top;
	background: linear-gradient(to bottom, $top, $bot); }

html {
	min-height: 100%;
	background-color: #0a0908;
}

//dropdown menu
.absolute-pos {
	position: absolute;
}
.dropmenu-content{
	display: none;
	padding: 1em;
	//background: $dropdownbg;
	div {
		padding: .2em .5em;
		background-color: $button1;
		border-radius: 4px;
		margin: .2em .2em;
	}
}
code {
	background: black;
	color: #ffccee;
	font-family: 'Courier New', monospace;
}
.dropSelect {
	top: 0;
	background: #222222;
	color: #ffeeaa;
	border: 2px solid #886611;
	float: left;
}
.dropmenu:hover .dropmenu-content {
	display: block;
}
.hiddenColumn {
	color: red;
}
.dropButton {
	display: block;
	text-align: center;
	margin: auto;
}
.queryFileBox {
	display: inherit;
	width: 99%;
	margin-bottom: 0.3em;
}
.queryMenuDiv {
	z-index: 10;
	//display: inline-block;
	min-width: 12em;
	padding: .2em .2em;
	//@include sgradient($ojgradient1,$ojgradient2,$ojgradient3,$ojgradient4);
	@include sgradient($ttop,$ttp,$bbt,$bbot);
}
.commandtitle {
	margin: auto;
}
.queryMenuButton {
	width: 15em;
	background-color: $button1;
	color: #eeeeee;
	background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%);
	border-radius: 4px;
}
.queryTextEntry {
	background: #222222;
	color: #ffeeaa;
	border: 2px solid #886611;
	width: calc(98vw);
}
.queryTextContainer {
	padding: 0.2em;
}
.queryRunButton {
	background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%);
	color: #ffffff;
	border: 2px solid black;
	font-weight: bold;
	padding: 0.2em 1em;
	font-size: medium;
}
.queryRunButton:hover {
  background: linear-gradient(to bottom, #00136a 0%, #08606c 50%, #0832f6 51%, #062f3d 100%);
}
.viewContainer {
	display: inline-block;
	margin: auto;
	max-width: calc(100%);
}
.tableModDiv {
	z-index: 10;
	display: inline-block;
	min-width: 12em;
	//background-color: $button1;
	padding: .2em .2em;
	//background: linear-gradient(to bottom, #3b1212 0%,#71280b 50%,#752201 51%,#bf6e4e 100%);
	//@include gradient($ttop,$bbt);
}
.tableModDrop {
	//background: linear-gradient(to bottom, #3b1212 0%,#71280b 50%,#752201 51%,#bf6e4e 100%);
	@include sgradient($bbt,$bbot,$bbot,$bbot);
}
.tableModButton {
	width: 15em;
	padding: .2em .5em;
	background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%);
	color: #eeeeee;
	border-radius: 4px;
}

//table display
.tableHead {
	//td { background-color: $headcell; }
	//th { background-color: $headcell; }
}
.tableBody td {
	background-color: #3A3A3A;
	color: #fff0a6;
}
.tableRow td, .nameCell, .typeCell {
	text-align: center;
	white-space:nowrap;
	min-width: 4em;
}
.typeCell {
	color: #333;
}
.tableDiv {
	background: $tablebg;
	position: static;
	top: 3em;
	max-height: calc(80vh - 100px);
	//max-width: calc(95%);
	margin: auto;
	border: 1px solid black;
}
.tableBodyDiv {
	overflow: auto;
}
.tableHeadDiv {
	overflow: hidden;
	border-bottom: none;
	color: #fff066;
	background: linear-gradient(to bottom, #444444 0%, #303030 50%, #202020 51%, #444444 100%);
}
.tableQuery {
	margin: auto;
	display: table;
	color: #fff0a6;
	border-radius: 0.4em;
	padding: 0.3em 0em 0em 0em;
}
//bigger query section
.querySelect {
	margin-top: 2.3em;
	text-align: center;
}
.queryMenuContainer {
	text-align: center;
	margin-bottom: 1em;
}
.tableModifiers {
	border-radius: 1em 1em .3em .3em;
	background: linear-gradient(to bottom, #342008 1%, #100c0a 22%, #200c0a 22%, #090908 100%);
	text-align: center;
}

//top bar
.topBar {
	background: $topbarbg;
	//background: linear-gradient(to bottom, #3b1212 0%,#71280b 50%,#752201 51%,#bf6e4e 100%);
	min-height: 2em;
	padding: 0.2em;
	display: flex;
	justify-content: left;
	position: fixed;
	width: 100%;
	top: 0;
}
.topMessage {
	color: $historyArrows;
	padding: 0.3em 1em 0em;
}
.topButton {
  background: linear-gradient(to bottom, #666666 0%, #515151 50%, #414141 51%, #666666 100%);
  border: 2px solid black;
  color: #eeeeee;
}
.topButton:hover {
	background: linear-gradient(to bottom, #00136a 0%, #08606c 50%, #0832f6 51%, #062f3d 100%);
}
.popButton {
	padding: 0.5em;
}

//save section
.fileSelectShow {
	padding: 0.3em;
	@include sgradient($bbt,$bbot,$bbot,$bbot);
	color: #fff0a6;
	top: 2.2em;
	position: absolute;
	border: 1px solid black;
}
.fileSelectShow label {
	display: inline-block;
}
.fileSelectShow input[type="text"] {
	min-width: 40em;
	margin: 0.5em 0em 0.5em 0.5em;
}
.saveRadio {
	margin: 0.6em;
}
.saveButton {
	float: right;
}

//password popup
.passPopup {
	color: red;
	text-align: center;
}

//file browser
.fileBrowser {
	min-width: 40em;
	max-height: 33em;
}
.browseDirs {
	height: 80%;
	background: $tablebg;
	border: 1px solid black;
	overflow: auto;
}
.browseDir {
	display: block;
	width: 100%;
	color: lightblue;
}
.browseFile {
	display: block;
	width: 100%;
	color: lightGreen;
}
.browseCurrent {
	background: $tablebg;
	color: #ffffe6;
	width: -webkit-fill-available;
	width: -moz-available;
}
.browseEntry:hover {
	background-color: bisque;
}

//history arrows
.historyArrows {
	right: 0;
	position: inherit;
	color: $historyArrows;
}
.arrow {
	font-size: x-large;
}
.show { display: block; }
.dim { color: grey; }
.noselect { user-select: none; }

//helper
.helpBox {
	display: block;
	position: fixed;
	width: 90%;
	left: 5%;
	height: 90%;
	border: 1px solid black;
	color: #ffeeaa;
	background-color: #2c2c2c;
	margin: auto;
	border-radius: 1em;
	padding: 1em;
	overflow-y: scroll;
}

#scrollBuffer {
	color: $tablebg;
	background: $tablebg;
}

.helpTable {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 0.2em;
}
