//dark mode colors
$redgrad1: #090908;
$redgrad2: #200c0a;
$redgrad3: #200c0a;
$redgrad4: #4d0908;

$mainbgdark: #0a0908;

$darkgrey1: #0f0f0f;
$darkgrey2: #222222;
$darkgrey3: #2c2c2c;
$darkgrey4: #3A3A3A;

$lighttext1: lightgoldenrodyellow;
$topbarbg: $redgrad1;
$yellower: #ffff99;
$darkyellow: #ffaa0e;
$darkeryellow: #886611;
//light mode colors from fd3cc88cc330c24fccf9cb98549d6eafd4b83d7c/
$bluegrad1: #091928;
$bluegrad2: #207cca;
$bluegrad3: #207cca;
$bluegrad4: #7db9e8;

$mainbglight: #ccc9c9;

@mixin foursmooth($colo1,$colo2,$colo3,$colo4) {
	background: $colo1;
	background: linear-gradient(to bottom, $colo1 1%, $colo2 22%, $colo3 22%, $colo4 100%);
}
@mixin fourshiney($colo1,$colo2,$colo3,$colo4) {
	background: $colo1;
	background: linear-gradient(to bottom, $colo1 0%, $colo2 50%, $colo3 51%, $colo4 100%);
}
//dark mode gradients
@mixin maincolorgradient() {
	@include foursmooth($redgrad1, $redgrad2, $redgrad3, $redgrad4);
}
@mixin mainbuttongradient() {
	color: #eeeeee;
	@include fourshiney(#666666,#515151,#414141,#666666);
}
@mixin hoverbuttongradient() {
	color: #eeeeee;
	@include fourshiney(#00136a,#08606c,#0832f6,#062f3d);
}
@mixin secondcolorgradient() {
	color: $lighttext1;
	@include foursmooth(#342008,#100c0a,#200c0a,#090908);
}
@mixin greygradient() {
	color: $yellower;
	@include fourshiney(#444444,#303030,#202020,#444444);
}
//light mode gradients
@mixin maincolorgradient-light() {
	@include foursmooth($bluegrad1, $bluegrad2, $bluegrad3, $bluegrad4);
}
@mixin mainbuttongradient-light() {
	color: #eeeeee;
	@include fourshiney(#ffffff,#f1f1f1,#e1e1e1,#f6f6f6);
}
@mixin hoverbuttongradient-light() {
	color: #eeeeee;
	@include fourshiney(#e0f3fa,#d8f0fc,#b8e2f6,#b6dffd);
}
@mixin secondcolorgradient-light() {
	color: $lighttext1;
	background: linear-gradient(to top, #fefcea 0%,#fff5ac 100%);
}
@mixin greygradient-light() {
	color: $yellower;
	@include fourshiney(#ffffff,#f1f1f1,#e1e1e1,#f6f6f6);
}

html {
	min-height: 100%;
	background-color: $mainbgdark;
}

//dropdown menu
.absolute-pos {
	position: absolute;
}
.dropmenu-content{
	display: none;
	padding: .5em;
	div {
		padding: .2em .5em;
		border-radius: 4px;
		margin: .2em .2em;
	}
}
code {
	background: $darkgrey2;
	color: $darkyellow;
	font-weight: bold;
	font-family: 'Courier New', monospace;
}
.dropSelect {
	top: 0;
	background: $darkgrey2;
	color: $lighttext1;
	border: 2px solid $darkeryellow;
	float: left;
}
.dropmenu:hover .dropmenu-content {
	display: block;
}
.hiddenColumn {
	color: red;
}
.dropButton {
	display: block;
	text-align: center;
	margin: auto;
}
.queryFileBox {
	display: inherit;
	width: 99%;
	margin-bottom: 0.3em;
}
.queryMenuDiv {
	z-index: 10;
	//display: inline-block;
	min-width: 12em;
	padding: .2em .2em;
	@include maincolorgradient();
}
.commandtitle {
	margin: auto;
}
.queryMenuButton {
	width: 15em;
	border-radius: 4px;
	@include mainbuttongradient();
}
.queryTextEntry {
	background: $darkgrey2;
	color: $lighttext1;
	border: 2px solid $darkeryellow;
	width: calc(98vw);
}
.queryTextContainer {
	padding: 0.2em;
}
.queryRunButton {
	@include mainbuttongradient();
	border: 1px solid black;
	font-weight: bold;
	padding: 0.2em 1em;
	font-size: medium;
}
.queryRunButton:hover {
	@include hoverbuttongradient();
}
.viewContainer {
	display: inline-block;
	margin: auto;
	max-width: calc(100%);
}
.tableModDiv {
	z-index: 10;
	display: inline-block;
	min-width: 12em;
	padding: .2em .2em;
}
.tableModDrop {
	@include maincolorgradient();
}
.tableModButton {
	width: 15em;
	padding: .2em .5em;
	@include mainbuttongradient();
	border-radius: 4px;
}

.tableBody td {
	background-color: $darkgrey4;
	color: $lighttext1;
}
.tableRow td, .nameCell, .typeCell {
	text-align: center;
	white-space:nowrap;
	min-width: 4em;
}
.typeCell {
	color: #333;
}
.tableDiv {
	background: $darkgrey1;
	position: static;
	top: 3em;
	max-height: calc(80vh - 100px);
	//max-width: calc(95%);
	margin: auto;
	border: 1px solid black;
}
.tableBodyDiv {
	overflow: auto;
}
.tableHeadDiv {
	overflow: hidden;
	border-bottom: none;
	@include greygradient();
}
.tableQuery {
	margin: auto;
	display: table;
	border-radius: 0.4em;
	padding: 0.3em 0em 0em 0em;
}
//bigger query section
.querySelect {
	margin-top: 2.3em;
	text-align: center;
}
.queryMenuContainer {
	text-align: center;
	margin-bottom: 1em;
}
.tableModifiers {
	border-radius: 1em 1em .3em .3em;
	@include secondcolorgradient();
	text-align: center;
}

//top bar
.topBar {
	background: $topbarbg;
	min-height: 2em;
	padding: 0.2em;
	display: flex;
	justify-content: left;
	position: fixed;
	width: 100%;
	top: 0;
}
.topMessage {
	color: $yellower;
	padding: 0.3em 1em 0em;
}
.topButton {
	border: 1px solid black;
	@include mainbuttongradient();
}
.topButton:hover {
	@include hoverbuttongradient();
}
.popButton {
	padding: 0.5em;
}

//save section
.fileSelectShow {
	padding: 0.3em;
	@include maincolorgradient();
	color: $lighttext1;
	top: 2.2em;
	position: absolute;
	border: 1px solid black;
}
.fileSelectShow label {
	display: inline-block;
}
.fileSelectShow input[type="text"] {
	min-width: 40em;
	margin: 0.5em 0em 0.5em 0.5em;
}
.saveRadio {
	margin: 0.6em;
}
.saveButton {
	float: right;
}

//password popup
.passPopup {
	color: red;
	text-align: center;
}

//file browser
.fileBrowser {
	min-width: 40em;
	max-height: 33em;
}
.browseDirs {
	height: 80%;
	background: $darkgrey1;
	border: 1px solid black;
	overflow: auto;
}
.browseDir {
	display: block;
	width: 100%;
	color: lightblue;
}
.browseFile {
	display: block;
	width: 100%;
	color: lightGreen;
}
.browseCurrent {
	background: $darkgrey1;
	color: #ffffe6;
	width: -webkit-fill-available;
	width: -moz-available;
}
.browseEntry:hover {
	background-color: $redgrad4;
}

//history arrows
.historyArrows {
	right: 0;
	position: inherit;
	color: $yellower;
}
.arrow {
	font-size: x-large;
}
.show { display: block; }
.dim { color: grey; }
.noselect { user-select: none; }

//helper
.helpBox {
	display: block;
	position: fixed;
	width: 90%;
	left: 5%;
	height: 90%;
	border: 1px solid black;
	color: $yellower;
	background-color: $darkgrey3;
	margin: auto;
	border-radius: 1em;
	padding: 1em;
	overflow-y: scroll;
	button {
		border: 1px solid black;
		padding: 0.3em 1em;
		@include mainbuttongradient();
	}
	button:hover {
		padding: 0.3em 1em;
		@include hoverbuttongradient();
	}
	a {
		color: orangered;
	}
}

#scrollBuffer {
	color: $darkgrey1;
	background: $darkgrey1;
}

.helpTable {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 0.2em;
}
