//dark mode colors
$redgrad1: #090908;
$redgrad2: #200c0a;
$redgrad3: #200c0a;
$redgrad4: #4d0908;
$mainbgdark: #0a0908;
$darkgrey1: #0f0f0f;
$darkgrey2: #222222;
$darkgrey3: #2c2c2c;
$darkgrey4: #3A3A3A;
$text1-darkbg: lightgoldenrodyellow;
$topbarbg-dark: $redgrad1;
$yellower: #ffff99;
$codecolor-dark: #ffaa0e;
$darkeryellow: #886611;
//light mode colors from fd3cc88cc330c24fccf9cb98549d6eafd4b83d7c/
$bluegrad1: #091928;
$bluegrad2: #207cca;
$bluegrad3: #207cca;
$bluegrad4: #7db9e8;
$mainbglight: #ccc9c9;
$lightgrey1: #dfdfdf;
$lightgrey2: white;
$lightgrey3: beige;
$lightgrey4: #FAFAFA;
$text1-lightbg: black;
$topbarbg-light: $bluegrad1;
//$yellower: #ffff99; // same as dark mode
$codecolor-dark: #ffaa0e;
//$darkeryellow: #886611; // lightmode just uses default

@mixin foursmooth($colo1,$colo2,$colo3,$colo4) {
	background: $colo1;
	background: linear-gradient(to bottom, $colo1 1%, $colo2 22%, $colo3 22%, $colo4 100%);
}
@mixin fourshiney($colo1,$colo2,$colo3,$colo4) {
	background: $colo1;
	background: linear-gradient(to bottom, $colo1 0%, $colo2 50%, $colo3 51%, $colo4 100%);
}
//dark mode gradients
@mixin maincolorgradient-dark() {
	@include foursmooth($redgrad1, $redgrad2, $redgrad3, $redgrad4);
}
@mixin mainbuttongradient-dark() {
	color: #eeeeee;
	@include fourshiney(#666666,#515151,#414141,#666666);
}
@mixin hoverbuttongradient-dark() {
	color: #eeeeee;
	@include fourshiney(#00136a,#08606c,#0832f6,#062f3d);
}
@mixin secondcolorgradient-dark() {
	color: $text1-darkbg;
	@include foursmooth(#342008,#100c0a,#200c0a,#090908);
}
@mixin greygradient-dark() {
	color: $yellower;
	@include fourshiney(#444444,#303030,#202020,#444444);
}
//light mode gradients
@mixin maincolorgradient-light() {
	@include foursmooth($bluegrad1, $bluegrad2, $bluegrad3, $bluegrad4);
}
@mixin mainbuttongradient-light() {
	color: #eeeeee;
	@include fourshiney(#ffffff,#f1f1f1,#e1e1e1,#f6f6f6);
}
@mixin hoverbuttongradient-light() {
	color: #eeeeee;
	@include fourshiney(#e0f3fa,#d8f0fc,#b8e2f6,#b6dffd);
}
@mixin secondcolorgradient-light() {
	color: $text1-darkbg;
	background: linear-gradient(to top, #fefcea 0%,#fff5ac 100%);
}
@mixin greygradient-light() {
	color: $yellower;
	@include fourshiney(#ffffff,#f1f1f1,#e1e1e1,#f6f6f6);
}

html {
	background-color: $mainbgdark;
}
body {
	margin: 0;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#topBar {
	background: black;
	color: $yellower;
	display: flex;
	padding: .2em;
	button {
		border: 1px solid black;
		padding: .2em;
		@include mainbuttongradient-dark();
	}
	button:hover {
		@include hoverbuttongradient-dark();
	}
}
#textboxContainer {
	text-align: center;
	padding: .2em;
	@include maincolorgradient-dark();
}
#topMessage {
  transform: translateY(15%);
}
#queryTextEntry {
	width: 100%;
	background: $darkgrey2;
	color: $text1-darkbg;
	border: 2px solid $darkeryellow;
}
.singleResult {
	display: inline-block;
	max-width: calc(100%);
	background-color: $darkgrey2;
	border-radius: 1em 1em .3em .3em;
}
.tableControls {
	border-radius: 1em 1em .3em .3em;
	@include secondcolorgradient-dark();
	text-align: center;
}
.controlBut {
	padding: .2em .5em;
	@include mainbuttongradient-dark();
	border-radius: 4px;
}
th, td {
	text-align: center;
	white-space:nowrap;
	min-width: 4em;
}
.resultHeadDiv {
	margin: auto;
	overflow: hidden;
}
.resultBodyDiv {
	margin: auto;
	overflow: auto;
}
.resultHead {
	border-bottom: none;
	@include greygradient-dark();
}
.resultBody {
	background: $darkgrey1;
	td {
		background-color: $darkgrey4;
		color: $text1-darkbg;
	}
}
.tableDropmenu{
	display: inline-block;
}
.tableDropmenuContent{
	display: none;
	align-items:flex-start;
	flex-shrink: 1;
	padding: .5em;
	position: absolute;
}
.tableDropmenu:hover .tableDropmenuContent {
	display: flex;
	@include maincolorgradient-dark();
}

#history {
	right: 0;
	position: fixed;
}

.topDropdown {
	min-width: 40em;
	max-height: 33em;
	text-align: left;
	top: 2.2em;
	padding: .3em;
	position: absolute;
	border: 1px solid black;
	color: $text1-darkbg;
	@include maincolorgradient-dark();
}
.pathinput {
	width: 100%;
	background: $darkgrey1;
	color: $lightgrey2;
}
.filelist {
	background: $darkgrey1;
}
.filelist span {
	display: block;
}
.filelist span:hover {
	background: $redgrad4;
	overflow: auto;
}
.browsedir {
	color: lightblue;
}
.browsefile {
	color: lightGreen;
}
.updir {
	font-weight: 700;
}
#saveDropdown {
	display: none;
}
#openDropdown {
	//display: none;
}
